<div class="container">
  <br><br>
  <div class="row center">
  <a id="logo-container" href="logo.png"><img src="assets/logo.png" alt="Mountain View" style="width:148px;height:70px;"></a>
</div>
<h2>I am the post!</h2>
<div id="sbmt" class="btn-large waves-effect waves-light teal lighten-1"><%=link_to "Back", new_post_path %></div>
