<div class="container">
  <br><br>
  <div class="row center">
  <a id="logo-container" href="logo.png"><img src="assets/logo.png" alt="Mountain View" style="width:148px;height:70px;"></a>
</div>

<div id="sbmt" class="btn-large waves-effect waves-light teal lighten-1"><%=link_to "Back", new_post_path %></div>

<div class="row align center">
<div class="input-field col s12">
   <select>
    <option value="" disabled selected>Choose your option</option>
     <option value="1">Unlock for 15 mins</option>
     <option value="2">Unlock for 1 hour</option>
     <option value="3">Unlock for 3 hours</option>
   </select>
   <label>Unlock Timer</label>
 </div>
 </div>
