<div class="container">
<div class="row align center">

<div class="btn-large waves-effect waves-light teal lighten-1" type="submit" name="action">
		<%= form_for @post do |f| %>
				 <input type="file" accept="video/*;capture=camera">
    <% end %>

</div>
</div>
</div>


<div class="row align center">
	<div class="btn-large waves-effect waves-light teal lighten-1"><%= link_to 'Back', root_path %></div>
</div>
<div class="row align center">
  <i class="material-icons">phone</i>
	<div id="sbmt" class="btn-large waves-effect waves-light teal lighten-1" class="text center">
		 <%= link_to 'CALL CUSTOMER SUPPORT', root_path %>

  </div>
</div>
