/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
.material-icons {color: #26a69a;
   
   font-size: 3.5em !important;
   background-color: #727275;}
p {
  line-height: 2rem;
}
input#password.validate {
  height: !important 100px;
  margin-top: !important 50px;
}
.header {
  font-size: 2.5em;
  margin-bottom: 50px;
}
a {color: white;}

#toggle {
  justify-content: center;
}
.button-collapse {
  color: #26a69a;
}
#sbmt{
  margin-bottom: 50px;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.input-field {
  color: black;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
